@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    color: #00398D;
} 

a, i, link {
    text-decoration: none;
}

.body {
    background-color: F5F5F5;
}

/* Header */
#logo {
    border-radius: 100%;
}

.titulo-header {
    font-weight: 600;
}

.paragrafo-header {
    font-weight: 400;
    padding-top: 7px;
}

#textos-header {

    color: #00398D;
}

#patinhas-logo {
    padding-top: 10px;
}

/* Navbar */
#navbar {
    background-color: #00398D;
}

.nav-link {
    color: #dfdfdf;
    padding: 10px 20px;
}

#linha-vertical {
    height: 30px;
    border-right: 1px solid #dfdfdf;
    margin-top: 8px;
}

/* Main */
.linha-horizontal {
    border-bottom: 2px solid #00398D;
}

.titulo-home-servicos {
    font-weight: 700;
}