@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    color: #00398D;
} 

a, i, link {
    text-decoration: none;
}

.body {
    background-color: F5F5F5;
}

/* Header */
#logo {
    border-radius: 100%;
}

.paragrafo-header {
    padding-top: 7px;
}

#patinhas-logo {
    padding-top: 10px;
}

/* Navbar */
#navbar {
    background-color: #00398D;
}

.nav-link {
    color: #dfdfdf;
    padding: 10px 15px;
}

#linha-vertical {
    height: 30px;
    border-right: 1px solid #dfdfdf;
    margin-top: 8px;
}

/* Main */
.titulo-home-servicos {
    font-weight: 700;
}

#quadro-servicos-home {
    margin-top: 20px;
}

.quadro-home {
    box-shadow: 2px 2px 2px 2px #dfdfdf;
    border-radius: 20px;
}

.icone-quadro-header {
    font-size: 60px;
}

.titulo-quadro-home {
    padding: 5px 0;
}

#depoimentos-header {
    background-color: #00398D;
    border-radius: 10px;
}

#col-depoimento {
    background-color: #fff;
    border-radius: 15px;
}

.paciente-header {
    border-radius: 100px;
}

/* Footer */
