@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    color: #00398D;
} 

a, i, link {
    text-decoration: none;
}

.body {
    background-color: F5F5F5;
}

/* Header */

header .container {
    justify-content: space-between;
}
    
/* Navbar */
.nav-link {
    color: #dfdfdf;
    padding: 10px 25px;
}

/*Index*/

.icone-quadro-header {
    font-size: 60px;
}

/* Informações */

#linha-vertical-informacoes {
    height: 170px;
    border-right: 1px solid #dfdfdf;
    margin-top: 8px;
}

/* Outros*/

.nav-link:hover, .icones-footer:hover, .titulo-quadro-home:hover, .icone-index:hover {
    color: #3b67aa;
}

@media screen and (max-width: 541px) {
    header .container {
        justify-content: center;
    }

    #patinhas-header, .icones-perguntas {
        display: none;
    }

    .nav-link { 
        padding: 10px 15px;
    }
}

@media screen and (max-width: 600px) {
    .perguntas-letra {
        font-size: 16px;
    }
}

@media screen and (max-width: 780px) {
    .icones-perguntas {
        display: none;
    }
}
